body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
}

header .profile-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    padding-top: 100px;
}

header p {
    font-size: 1.2em;
    margin: 0;
}

section {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

section h2 {
    margin-top: 0;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #fff;
    margin: 5px 0;
    padding: 10px;
    border-left: 5px solid #333;
    display: flex;
    align-items: center;
}

ul li img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
